<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <div class="container">
        <h1>Pergunta</h1>
        <div class="card">
            
            <div class="card-body">
                <h2><%= pergunta.titulo%></h2>
            </div>
            <div class="card-footer">
                <p><%= pergunta.descricao%></p>
            </div>
        </div>
        <form action="/responder" method="POST">
            <label for="" id="labelResposta">Responda</label>
            <textarea name="resposta" id="resposta" cols="30" rows="5" placeholder="Insira a resposta" class="form-control"></textarea>
            <button id="botaoResposta" type="submit" class="btn btn-success">Responder</button>
            <input type="hidden" name="pergunta" value="<%= pergunta.id%>">
        </form>
       <h3>Respostas</h3>
       <% respostas.forEach(resposta => {%>
             <div class="card" id="card">
                <div class="card-body" id="card-body">
                    <p>R: <%= resposta.corpo %></p>
                </div>
             </div>
       <% }) %>
    </div>
</body>
<%- include('partials/footer.ejs'); %>